body{
  background-color: #f9fbfc;
}
#user-menu .dropdown-toggle{
  margin: 0;
  border: none;
  padding:29px 0;
}
.brand{
  color: #37b0e9;
  font-size:20px;
  line-height: 30px;
}
.brand img{
  float:left;
  display: block;
}
/*setting tab nav style*/
#memberNav{
  position: relative;
  list-style-type: none;
  float:left;
  margin: 0 0 0 30px;

}
#memberNav>li{
  float:left;
  line-height: 30px;
  padding: 0 10px;
  border-top: 1px solid #37b0e9;
  border-bottom: 1px solid #37b0e9;
  border-left: 1px solid #37b0e9;
}
#memberNav>li.first{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#memberNav>li.last{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #37b0e9;
}
#memberNav>li.active{
  background-color: #37b0e9;
}
#memberNav>li>a{
  text-decoration: none;
  color: #37b0e9;
  font-size: 14px;
}
#memberNav>li.active>a{
  color: #fff;
}
.tab-head{
  padding:10px 0 10px 60px;
  border-bottom: 1px solid #eef4f8;
  line-height: 30px;
  font-size: 16px;
  background: url("../img/left-arrow.png") 50px center no-repeat;
  overflow: hidden;
}
#settingTit{
  float:left;
  margin: 0;
}

/*member setting style*/
#modifyInfoForm{
  margin:40px 0 100px;
  position: relative;
}
.input-group {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.input-group .control-label {
  position: absolute;
  width: 80px;
  padding: 0 8px;
  display: block;
  line-height: 44px;
  text-align: right;
  color: #283e56;
  top: 0;
  left: 0;
}
.input-group .controls {
  padding-left: 96px;
  float: left;
  position: relative;
  width: 300px;
  overflow: hidden;
}
.input-group i {
  display: block;
  position: absolute;
  top: 13px;
  left: 106px;
  width: 24px;
  height: 20px;
  z-index: 10;
}
.input-group .input-area{
  padding: 12px 10px 12px 10px;
  *padding: 10px 10px 10px 10px;
  display: block;
  margin:0 auto;
  width: 278px;
  position: relative;
  left: 0;
}
#memberSetting .controls .radio {
  padding: 0;
  margin: 0;
  line-height: 44px;
  float: left;
}
.controls .radio input[type="radio"] {
  float: none;
  margin: 0;
  width: 50px;
  line-height: 44px;
  height: 20px;
}
.input-group .tip {
  float: left;
  margin-left: 20px;
  color: #f57574;
  line-height: 44px;
}
.input-group .add-on {
  float: left;
  display: block;
  line-height: 44px;
  margin-left: 10px;
}
.icon-lock {
  background: url("../img/lock.png") center no-repeat;
}
.form-btn,
.form-btn:focus{
  font-size:14px;
  line-height: 44px;
  display: block;
  background-color: #37b0e9;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}
.form-btn:hover{
  background-color: #3cbefb;
  color: #fff;
  text-decoration: none;
}
.form-btn:active{
  color: #fff;
  text-decoration: none;
  background-color: #31a5db;
}
.form-btn.disabled{
  color: #a6adb5;
  background-color: #e5eef4;
  text-decoration: none;
}
#modifySubmitBtn {
  float: left;
  padding: 0 80px;
  margin-left: 96px;
}
#deleteBtn{
  background: url("../img/cross.png") 4px center no-repeat;
  padding-left: 20px;
  line-height: 44px;
  display: block;
  float: left;
  margin-left: 20px;
  color: #37b0e9;
  text-decoration: none;
}

#modifyHead{
  position: absolute;
  right: 200px;
  top:0;
  width: 130px;
  border: 1px solid #e1ebf1;
  padding: 5px;
}
#modifyHead img{
  display: block;
  width: 130px;
  height: 130px;
}
#modifyHeadBtn{
  display: block;
  margin: 5px 5px 0;
  padding-left: 30px;
  background: url("../img/camera.jpg") 5px center no-repeat;
  color: #37b0e9;
  text-decoration: none;
}

/*tab content style*/
#modifyInfoForm{
  margin-bottom: 50px;
}

/*footer style*/
.footer{
  color: #283e56;
  font-size: 12px;
}
.footer-info{
  padding: 25px 0;
  background-color: #f1f5f7;
}
.footer-info h3{
  font-size: 18px;
  line-height: 34px;
  border-bottom: 1px solid #dfe5e8;
  margin:0;
}
.footer-info ul{
  margin:20px 0 10px 15px;
}
.footer-info li{
  margin-bottom:15px;
}
.footer-info li a{
  color: #283e56;
}
.footer-info h2.phone{
  font-size: 24px;
  font-weight: normal;
}
.footer-copy{
  text-align: center;
  padding:20px 0 30px;
}